<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>WebPage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			img {
   				display: block;
    				margin-left: auto;
    				margin-right: auto;
			}
			.body {
 				margin: 0;
  				font-family: Arial, Helvetica, sans-serif;
			}
			.margin {
    				margin: 20px;
			}
			.font {
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
			.button {
				background-color: #4CAF50;
    				border: none;
   		 		color: white;
				font-size: 16px;
    				margin: 4px 2px;
    				padding: 16px 32px;
    				text-align: center;
    				text-decoration: none;
    				display: inline-block;
    				transition-duration: 0.6s;
    				cursor: pointer;
			}
			.button3 {
    				background-color: #FE4242; 
   				color: black; 
    				border: 2px solid #f44336;
			}

			.button3:hover {
    				background-color: #FE0101;
    				color: white;
			}
		</style>
	</head>
	<body style="background-color:#e5e7e9;">
		<div class="font">
			<h1>JavaScript Game of Set</h1>
		</div>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Set-game-cards.png" alt="Game Of Set logo" style="width:70%">
		<br>
		<div class="font">
			<h2 class="margin">What is the Game of Set &quest;</h2>
		</div>
		/* I copied the text from our project 2 description, so feel free to come up with your own description */
		<p class="margin"><strong>"Set" is a card game in which players attempt to find a group of cards that satisfy a particular criterion. It is a speed game: 12 cards are dealt face-up, and the players try to be the first to make a set from the visible cards. For a complete description of the game see the Wikipedia <a href="https://en.wikipedia.org/wiki/Set_(card_game)">entry</a>.</strong></p>
		<div class="font">
			<h2 class="margin">Got it &quest; Let's Play&excl;</h2>
		</div>
	</body>
</html>
