<!DOCTYPE html>
<html lang="en">
	<head>
    <title>WebPage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			img {
   				display: block;
    				margin-left: auto;
    				margin-right: auto;
			}
			.body {
 				margin: 0;
  				font-family: Arial, Helvetica, sans-serif;
			}
			.margin {
    				margin: 20px;
			}
			.font {
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body style="background-color:#e5e7e9;">
		<div class="font">
			<h1>JavaScript Game of Set</h1>
		</div>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Set-game-cards.png" alt="Game Of Set logo" style="width:70%">
		<br>
		<div class="font">
			<h2 class="margin">What is the Game of Set&quest;</h2>
		</div>
		<p class="margin"><strong>"Set" is a card game in which players attempt to find a group of cards that satisfy a particular criterion. It is a speed game: 12 cards are dealt face-up, and the players try to be the first to make a set from the visible cards. For a complete description of the game see the Wikipedia <a href="https://en.wikipedia.org/wiki/Set_(card_game)">entry</a>.</strong></p>
		<br>
		<div class="font">
			<h2 class="margin">Got it&quest; Let's Play&excl;</h2>
		</div>
	</body>
</html>
